<launch>
  <include file="$(find elfin_gazebo)/launch/elfin3_empty_world.launch" />

  <include file="$(find elfin_control)/launch/manipulator_controller.launch" />

  <!-- Relaying joint states so that RobotState is updated -->
  <node name="relay_joint_states" pkg="topic_tools" type="relay"
     args="/elfin/joint_states /joint_states"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find elfin_launch)/rviz/manipulator_controller.rviz" />
</launch>